*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

:root {
    --duration: 5s;
}

body {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Bangers";
    color: white;
    background-color: #ff0000;

    padding: 10px 0;

}

main {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    background-color: rgb(2, 46, 82);
    align-items: center;

    gap: 25px;
}

#controls {
    width: 230px;
    border: 5px solid #ff0000;
    padding: 20px;
    background-color: #ff0000;
    border-radius: 15px;
    box-shadow: -7px 7px 10px 5px black;

    .control {
        display: flex;
        margin: 20px 0;
        color: #ffffff;
        font-family: 'Allan';
        font-size: large;
    }

    input {
        width: 4em;
        margin-left: auto;
        text-align: right;
    }
}

.table {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;

}

#canva {
    height: 700px;
    width: 700px;

}

#canvaBorder {
    border: 25px solid #ff0000;
    border-radius: 15px;

    box-shadow: -7px 7px 10px 5px black;
}

.grid {

    padding: 0;
    margin: 0;

}

.transition {
    transition: background-color var(--duration);
}